[Unit]
Description=l2mc service container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop l2mc
ExecStartPre=-/usr/bin/docker rm l2mc
ExecStart=/usr/bin/docker run --name l2mc --rm docker-l2mc:latest
ExecStop=/usr/bin/docker stop l2mc

[Install]
WantedBy=multi-user.target